#resultList
{
    height: 500px;
}

#loading
{
    float:left;
    display: none; 
    color: Red; 
    font-weight: bold;
}

#resultsDiv
{
    clear:both;
}

#elementsList {
    width: 300px;
    height: 300px;
    overflow: auto;
    margin-left: 0;
    padding-left: 0;
    clear: both;
}

ul li {
    list-style-type: none;
}

.counter {
    margin: 10px 5px;
    float: left;
}
