@using Common;

@{
    ViewBag.Title = "Finder";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finder</title>
</head>
<body>
    <div><h1>Finder</h1></div>
    <div> 
        @if (ViewBag.Actions != null)
        {
            foreach (var action in (IEnumerable<IFinder>)ViewBag.Actions)
            {
            <form method="POST">
                <input type="hidden" name="operation"  value="@action.Name"/>
                <p>
                    <button type="submit">@action.Name</button>
                </p>
            </form>
            }
        }
    </div>
    <div>
        @using (Ajax.BeginForm("finder", new AjaxOptions { UpdateTargetId = "results"}))
        {
            <input type="text" name="name" />
            <input type="submit" value="Поиск" />
        }
        <div id="results"></div>
       @* @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")*@

    </div>
</body>
</html>
